###
# dsf common ignores
###
**/.classpath
**/.project
**/.idea/
**/.settings/
**/target/

**/*.iml

###
# dsf-bpe ignores
###
dsf-bpe/dsf-bpe-server-jetty/docker/dsf_bpe.jar
dsf-bpe/dsf-bpe-server-jetty/docker/lib/*.jar
dsf-bpe/dsf-bpe-server-jetty/docker/plugin/*.jar
dsf-bpe/dsf-bpe-server-jetty/process/*.jar

###
# dsf-fhir ignores
###
dsf-fhir/dsf-fhir-server-jetty/conf/bundle.xml
dsf-fhir/dsf-fhir-server-jetty/conf/config.properties
dsf-fhir/dsf-fhir-server-jetty/docker/dsf_fhir.jar
dsf-fhir/dsf-fhir-server-jetty/docker/lib/*.jar
dsf-fhir/dsf-fhir-validation/src/main/resources/fhir/bundle.xml

###
# dsf-docker-test-setup ignores
###
dsf-docker-test-setup/bpe/log/*.log
dsf-docker-test-setup/bpe/log/*.log.gz
dsf-docker-test-setup/bpe/plugin/*.jar
dsf-docker-test-setup/bpe/process/*.jar
dsf-docker-test-setup/bpe/psn/*.jceks
dsf-docker-test-setup/bpe/psn/*.p12
dsf-docker-test-setup/bpe/secrets/*.pem

dsf-docker-test-setup/fhir/log/*.log
dsf-docker-test-setup/fhir/log/*.log.gz
dsf-docker-test-setup/fhir/secrets/*.pem
dsf-docker-test-setup/fhir/.env

###
# dsf-docker-test-setup-3medic-ttp ignores
###
dsf-docker-test-setup-3medic-ttp/**/bpe/plugin/*.jar
dsf-docker-test-setup-3medic-ttp/**/bpe/process/*.jar
dsf-docker-test-setup-3medic-ttp/**/bpe/secrets/*.pem

dsf-docker-test-setup-3medic-ttp/**/fhir/secrets/*.pem
dsf-docker-test-setup-3medic-ttp/**/fhir/.env

###
# dsf-docker-test-setup-3medic-ttp-docker ignores
###
dsf-docker-test-setup-3medic-ttp-docker/**/bpe/log/*.log
dsf-docker-test-setup-3medic-ttp-docker/**/bpe/log/*.log.gz
dsf-docker-test-setup-3medic-ttp-docker/**/bpe/plugin/*.jar
dsf-docker-test-setup-3medic-ttp-docker/**/bpe/process/*.jar
dsf-docker-test-setup-3medic-ttp-docker/**/bpe/psn/*.jceks
dsf-docker-test-setup-3medic-ttp-docker/**/bpe/psn/*.p12

dsf-docker-test-setup-3medic-ttp-docker/**/fhir/log/*.log
dsf-docker-test-setup-3medic-ttp-docker/**/fhir/log/*.log.gz

dsf-docker-test-setup-3medic-ttp-docker/secrets/*.pem
dsf-docker-test-setup-3medic-ttp-docker/.env
dsf-docker-test-setup-3medic-ttp-docker/docker-compose.override.yml

###
# dsf-tools ignores
###
dsf-tools/dsf-tools-test-data-generator/bundle/*.xml

dsf-tools/dsf-tools-test-data-generator/cert/**/*.pem
dsf-tools/dsf-tools-test-data-generator/cert/**/*.csr
dsf-tools/dsf-tools-test-data-generator/cert/**/*.p12
dsf-tools/dsf-tools-test-data-generator/cert/thumbprints.txt

dsf-tools/dsf-tools-test-data-generator/config/*.properties