<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30"
	verbose="false">

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%p\t%t - %C{1}.%M(%L) | %m%n%xEx" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.highmed" level="INFO" />
		
		<Root level="INFO">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>