<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30"
			   verbose="false">

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%p %t - %C{1}.%M(%L) | %m%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=white, DEBUG=white, TRACE=white}"/>
		</Console>
		<RollingFile name="FILE" fileName="log/bpe.log"
					 filePattern="log/bpe_%d{MM-dd-yyyy}_%i.log.gz"
					 ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d [%t] %-5p %c - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy/>
			</Policies>
		</RollingFile>

		<!-- <SMTP name="MAIL" subject="BPE Error"
			to="foo@bar.de, baz@bar.de"
			from="fhir@bar.de"
			replyTo="foo@bar.de" smtpHost="smtp.bar.de"
			smtpPort="25" bufferSize="50">
		</SMTP>
		<SMTP name="MAIL_CERTIFICATE" subject="BPE Certificate Warning"
			to="foo@bar.de, baz@bar.de"
			from="fhir@bar.de"
			replyTo="foo@bar.de" smtpHost="smtp.bar.de"
			smtpPort="25" bufferSize="1">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
		</SMTP> -->
	</Appenders>

	<Loggers>
		<Logger name="org.highmed" level="TRACE"/>
		<logger name="de.rwh" level="DEBUG"/>
		<Logger name="org.apache" level="WARN"/>
		<Logger name="org.springframework" level="WARN"/>
		<Logger name="jndi" level="WARN"/>
		<Logger name="org.eclipse.jetty" level="INFO"/>
		<Logger name="com.sun.jersey" level="WARN"/>
		<Logger name="liquibase" level="WARN"/>
		<Logger name="ca.uhn.hl7v2" level="WARN"/>

		<!-- <Logger name="certificate-warning-logger" level="INFO">
			<AppenderRef ref="MAIL_CERTIFICATE" />
		</Logger> -->

		<Root level="WARN">
			<AppenderRef ref="CONSOLE" level="DEBUG"/>
			<AppenderRef ref="FILE" level="TRACE"/>
			<!-- <AppenderRef ref="MAIL" /> -->
		</Root>
	</Loggers>
</Configuration>