body {
	margin: 2em;
}

table#header {
	margin-bottom: 0.4em;
}

table#header img {
	height: 6em;
	display: block;
}

td#url {
	vertical-align: bottom;
}

td#url h1 {
	font-family: monospace;
	color: #29235c;
	margin: 0 0 0 1em;
	word-break: break-word;
}

td#url h1 a:link, td#url h1 a:visited, td#url h1 a:active {
	color: #29235c;
	text-decoration: none;
}

td#url h1 a:hover {
	text-decoration: underline;
}

.tab {
	text-align: right;
}

.tab button {
	padding: 0.2em 0.6em;
	background-color: #f1f1f1;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

pre {
	white-space: pre-wrap;
	word-break: break-all;
	margin-top: 0;
}

pre.lang-html {
	border: 0;
	font-family: monospace;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	list-style-type: decimal !important;
}

#icons {
	position: absolute;
	top: 2em;
	right: 2em;
}

.icon {
	height: 1.4em;
	cursor: pointer;
}

.icon>path {
	fill: #aaa;
}

.icon:hover>path {
	fill: #29235c;
}

#help {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	background: white;
	padding-top: 2em;
	max-width: 83%;
	min-width: 12em;
}

#help>#help-title {
	color: #29235c;
	position: relative;
	top: -1.9em;
	font-family: sans-serif;
}

#help-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

.help-param {
	font-size: small;
	font-family: sans-serif;
}

.help-param-name {
	font-weight: bold;
	margin-right: 1em;
}

.help-param-type {
	font-style: italic;
}

.help-param-documentation {
	max-width: 50em;
	margin-top: 0.5em;
	margin-bottom: 1.2em;
}

#bookmarks {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	background: white;
	padding-top: 2em;
	max-width: 83%;
	min-width: 8em;
}

#bookmarks>#bookmarks-title {
	color: #29235c;
	position: relative;
	top: -1.9em;
	font-family: sans-serif;
}

#bookmarks a:link, #bookmarks a:visited, #bookmarks a:active {
	color: #29235c;
	text-decoration: none;
	vertical-align: super;
	font-family: monospace;
}

#bookmarks a:hover {
	/* color: #29235c; */
	text-decoration: underline;
	/* vertical-align: super;
	font-family: monospace; */
}

#bookmarks>#bookmarks-list {
	margin-block-start: 0;
	margin-block-end: 0;
}

#bookmarks>#bookmarks-list>h4 {
	margin-block-start: 1em;
	margin-block-end: 0.2em;
}

#bookmarks>#bookmarks-list>div {
	margin-block-start: 0;
	margin-block-end: 0.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#bookmarks:focus {
	outline: none;
}

#bookmark-list-close {
	position: absolute;
	top: 1em;
	right: 1em;
}

.bookmarks-list-entry-removed>a:link, .bookmarks-list-entry-removed>a:visited,
	.bookmarks-list-entry-removed>a:active {
	color: #aaa !important;
}

@media print {
	body {
		margin: 0;
	}
	table#header {
		margin-bottom: 2em;
	}
	table#header img {
		height: 3em;
	}
	td#url h1 {
		font-size: 1.5em;
	}
	.tab {
		display: none;
	}
	pre.prettyprint {
		border: 0 !important;
	}
	#icons {
		display: none;
	}
	#bookmarks {
		display: none;
	}
	#help {
		display: none;
	}
}